@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.App {
    width: 100%;
    height: 100%;
}
#root {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
#header {
    background-color: #233142;
    display: flex;
    justify-content: flex-end;
}
#headerTitle {
    width: 50%;
    height: 120px;
    padding-top: 50px;
    padding-right: 20px;
    color: white;
    font-size: 70px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
#loginContainer {
    width: 42.6%;
    display: flex;
    align-items: end;
}
#loginContainer > a {
    width: 10%;
    display: flex;
    align-items: end;
}
a > p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 3px;
}
#loginBody {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
#loginBox {
    width: 20%;
    height: 400px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#loginBox > h2 {
    padding-top: 20px;
    padding-left: 20px;
}
#usernameTextBox {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 5px;
    width: 335px;
    height: 40px;
    font-size: 20px;
}
#usernameSubmit {
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
}
#loginTagline {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}
#usernameError {
    margin-left: 20px;
    margin-top: 10px;
    color: red;
    font-style: italic;
}
#welcomeMessage {
    margin-left: 20px;
    margin-top: 10px;
    font-style: italic;
}
#welcomeUsername {
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
}
#nav {
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filterHeader {
    padding-top: 10px;
}
#filterControls {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}
.filterButton {
    width: 90px;
    align-self: center;
    margin-top: 3px;
}
#datePostedFilter {
    width: 90px;
    align-self: center;
    margin-top: 3px;
}
#votesFilter {
    width: 90px;
    align-self: center;
    margin-top: 3px;
}
#ascending {
    width: 90px;
    align-self: center;
    margin-top: 3px;
}
#descending {
    width: 90px;
    align-self: center;
    margin-top: 3px;
}
.resetFilterLink {
    width: 90px;
    height: 30px;
    align-self: center;
    margin-top: 6px;
}
.resetFilter {
    width: 100%;
    height: 100%;
}
#articles {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#articlesBody {
    display: flex;
    flex-direction: column;
    width: 75%;
}
#allArticlesHeader {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid black;
}
#popularArticlesHeader {
    padding-top: 10px;
}
ul {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
li {
    list-style: none;
    width: 25%;
}
a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.articleContainer {
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-start;
}
.articleContainer > p {
    font-size: 14px;
}
.articleImg {
    width: 100%;
    object-fit: contain;
}
#articleTitle {
    font-size: 20px;
    font-weight: 550;
}
#seeMoreButton {
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
}
#seeMoreButton:hover {
    cursor: pointer;
}
#seeLessButton {
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
}
#seeLessButton:hover {
    cursor: pointer;
}



#singleArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#singleArticleUL {
    width: 50%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#commentSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#singleList {
    width: 100%;
}
#singleArticleContainer {
    width: 100%;
    display: flex;
}
.singleArticleImg {
    width: 100%;
    object-fit: contain;
}
#singleArticleTitle {
    font-size: 20px;
}
#commentsUnorderedList {
    width: 75%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#commentBox {
    width: 100%;
}
#commentsList {
    width: 75%;
}
.commentsContainer {
    width: 100%;
    border-bottom: 1px solid black;
}
.commentBody {
    padding-top: 5px;
    padding-bottom: 5px;
}
.upVote {
    width: 30px;
    height: 30px;
    font-size: 25px;
    border: none;
    background-color: white;
}
.upVote:hover {
    cursor: pointer;
}
.downVote {
    width: 30px;
    height: 30px;
    font-size: 25px;
    border: none;
    background-color: white;
}
.downVote:hover {
    cursor: pointer;
}
#errP {
    width: 50%;
    display: inline;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 1024px) {
    #header {
        background-color: aqua;
    }
    #filterControls {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #articles {
        display: flex;
        justify-content:flex-start
    }
    ul {
        width: 80%;
    }
    li {
        width: 50%;
    }
}









