@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.App {
    width: 100%;
    height: 100%;
}
#root {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
#header {
    background-color: #233142;
    display: flex;
    justify-content: flex-end;
}
#headerTitle {
    width: 50%;
    height: 120px;
    padding-top: 50px;
    padding-right: 20px;
    color: white;
    font-size: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#loginContainer {
    width: 42.6%;
    display: flex;
}
#loginContainer > a {
    width: 20%;
    display: flex;
    align-items: flex-end;
}
a > p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 3px;
}
#loginBody {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
#loginBox {
    width: 30%;
    height: 50%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 80px;
}
#loginBox > h2 {
    padding-top: 20px;   
    padding-left: 20px;
}
#usernameTextBox {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 5px;
    width: 80%;
    height: 40px;
    font-size: 20px;
}
#usernameSubmit {
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    color: white;
    background-color: #5374A1;
    font-size: 18px;
}
#loginTagline {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}
#usernameError {
    margin-left: 20px;
    margin-top: 10px;
    color: red;
    font-style: italic;
}
#welcomeMessage {
    margin-left: 20px;
    margin-top: 10px;
    font-style: italic;
}
#welcomeUsername {
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
    align-self: flex-end;
    font-style: italic;
}
#nav {
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filterHeader {
    padding-top: 10px;
}
#filterControls {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding-right: 30px;
}
.filterButton {
    width: 90px;
    align-self: center;
    margin-top: 3px;
    margin-top: 8px;
    border-radius: 50px;
    color: #fff;
    border-color: #5374A1;
    background: #5374A1;
    padding: 5px 0px 5px 0px;
}
#datePostedFilter {
    width: 90px;
    align-self: center;
    margin-top: 3px;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    border-color: #5374A1;
    background: #5374A1;
    color: #fff;
}
#votesFilter {
    width: 90px;
    align-self: center;
    margin-top: 8px;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    border-color: #5374A1;
    background: #5374A1;
    color: #fff;
}
#ascending {
    width: 90px;
    align-self: center;
    margin-top: 8px;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    border-color: #5374A1;
    background: #5374A1;
    color: #fff;
}
#descending {
    width: 90px;
    align-self: center;
    margin-top: 8px;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    border-color: #5374A1;
    background: #5374A1;
    color: #fff;
}
.resetFilterLink {
    width: 90px;
    height: 30px;
    align-self: center;
    margin-top: 8px;
}
.resetFilter {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    border-color: #5374A1;
    background: #5374A1;
    color: #fff;
}
.loading {
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
}
#articles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
}
#articlesBody {
    display: flex;
    flex-direction: column;
    width: 75%;
}
#allArticlesHeader {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #10315E;
    color: #10315E;
}
#popularArticlesHeader {
    padding-top: 10px;
    color: #10315E;
}
ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
li {
    list-style: none;
    width: 22%;
    margin-right: 10px;
}
a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.articleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-start;
}
.articleContainer > p {
    font-size: 14px;
    margin-bottom: 5px;
}
.articleImg {
    width: 100%;
    object-fit: contain;
}
#articleTitle {
    font-size: 20px;
    font-weight: 600;
    color: #10315E;
}
#seeMoreButton {
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
    width: 25%;
    background-color: white;
}
#seeMoreButton:hover {
    cursor: pointer;
}
#seeLessButton {
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
    width: 25%;
    background-color: white;
}
#seeLessButton:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
#deleteButton {
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    width: 120px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    background-color: #5374A1;
}



#singleArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#singleArticleUL {
    width: 50%;
}
#commentSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 15px;
}
#commentSection > form {
    padding-bottom: 10px;
    width: 98%;
}
#commentSection > form > button {
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    height: 30px;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color:#5374A1;
    margin-bottom: 10px;
}
#commentSection > form > p {
    color: red;
    font-style: italic;
}
#commentSection > form > textarea {
    font-style: italic;
    font-size: 18px;
}
#singleList {
    width: 100%;
}
#singleArticleContainer {
    width: 100%;
    display: flex;
}
.singleArticleImg {
    width: 100%;
    object-fit: contain;
}
#singleArticleTitle {
    font-size: 22px;
    color: #10315E;
}
#commentsUnorderedList {
    width: 75%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#commentBox {
    width: 100%;
}
#commentsList {
    width: 75%;
}
.commentsContainer {
    width: 100%;
    border-bottom: 1px solid black;
}
.commentBody {
    padding-top: 5px;
    padding-bottom: 5px;
}
.upVote {
    width: 30px;
    height: 30px;
    font-size: 25px;
    border: none;
    background-color: white;
}
.upVote:hover {
    cursor: pointer;
}
.downVote {
    width: 30px;
    height: 30px;
    font-size: 25px;
    border: none;
    background-color: white;
}
.downVote:hover {
    cursor: pointer;
}
#errP {
    width: 50%;
    display: inline;
}
#voteError {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #233142;
    height: 50px;
    display: flex;
    flex-direction: row;
}
#copyrightDiv {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#copyrightDiv > p {
    color: white;
}
#externalLinksDiv {
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#externalLinksDiv > p {
    color: white;
    margin-left: 20px;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 1024px) {
    #header {
        background-color: #233142;
    }
    #filterControls {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #articles {
        display: flex;
        justify-content:flex-start
    }
    ul {
        width: 100%;
    }
    li {
        width: 100%;
    }
    #loginContainer > a {
    width: 20%;
    display: flex;
    }
    #loginBox {
        width: 45%;
    }
    a > p {
        font-size: 19px;
    } 
}









